
    /* COLORS */
    $darkGreen: #2E4531;
    $green: #3B8E7E;
    $darkBrown: #231F20;
    $lightBrown: #5E4F49;
    $brown: #463C3C;
    $milkishOrange: #F4ECDD;

    /* FONTS */
    $poppins: 'Poppins', sans-serif;
    /* SIZES */
