@import "config";
@import "reset";
@import "form";
@import "utilities";

.visibility {
  display: none;
}

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  font-family: $poppins;
}

p {
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  color: $lightBrown;
}

.p2 {
  width: 90%;
}

label {
  display: inline-block;
  margin: 5px 0px;
  text-transform: uppercase;
  color: $brown;
}

/* CUSTOM CLASSES */
.all-caps {
  text-transform: uppercase;
}

.fp-paragraph-header {
  font-size: 18px;
  color: $lightBrown;
  text-align: center;
  margin: 20px 0px;
}

.b-bold {
  color: $brown;
  font-weight: bold;
}

.spacing {
  padding: 25px;
}

.logo-2 {
  display: block;
  width: 10%;
  margin: 10px auto;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 15px;
}

/********************* CONTACT US FORM ***************/
.mail-icon {
  display: block;
  margin: 30px auto 10px auto;
}

.mail-text {
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-family: $poppins;
  color: $brown;
}

/* NAVIGATION SECTION */

nav {
  padding: 15px;
}

.logo-text {
  position: absolute;
  left: 50px;
  top: 25px;
  font-weight: 600;
  color: $darkBrown;
  font-size: 18px;
}

nav .hamburger-menu {
  float: right;
}

nav .dropdown-menu {
  position: fixed;
  width: 0px;
  background-color: $milkishOrange;
  height: 100%;
  right: 0px;
  top: 0px;
  padding-top: 15px;
  z-index: 1;
  transition: 0.5s;
}

nav .dropdown-menu .close-icon {
  margin-left: 150px;
}

nav .dropdown-menu a {
  display: block;
  text-decoration: none;
  color: $lightBrown;
  font-weight: 600;
  margin: 30px 0px 30px 20px;
  transition: 0.3s;
}

nav .dropdown-menu button a {
  text-decoration: none;
  margin: auto 0px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

nav .dropdown-menu .green a {
  color: $milkishOrange;
}

.fa-solid {
  margin: 10px;
}

.dashboard-menu {
  padding: 20px 0px;
}

/* HERO SECTION */

.hero {
  text-align: center;
}

.hero img {
  display: block;
  margin: auto;
}

.hero .hero-text {
  text-transform: uppercase;
  color: $darkBrown;
}

.getstarted {
  height: 50px;
  width: 150px;
  margin: 10px 0px;
  border: none;
  border-radius: 27px;
  text-transform: uppercase;
  background-color: $darkGreen;
  color: $milkishOrange;
  font: $poppins;
  font-weight: 600;
  box-shadow: 0px 4px 3px $lightBrown;
}

/* FEATURES */

.features {
  text-align: center;
}

.features .features-heading {
  text-transform: uppercase;
  color: $darkBrown;
  font-size: 20px;
  margin: 50px 0px;
}

.features .features-card {
  box-shadow: 0px 3px 5px $lightBrown;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 30px;
}

.features .features-card img {
  padding: 15px;
  background-color: $green;
  border-radius: 65px;
}

.features .features-card:nth-child(2) img {
  padding: 14px 12px;
}

.features .features-card:nth-child(3) img {
  padding: 12px 24px;
}

.features .features-card h3 {
  margin: 20px 0px;
  color: $brown;
}

.features .features-card p {
  margin-bottom: 10px;
}

/* WHO IS THIS FOR */

.who-is-this-for {
  text-align: center;
}

.who-is-this-for h2 {
  font-size: 20px;
  color: $brown;
  text-transform: uppercase;
}

.who-is-this-for p {
  width: 85%;
}

.who-is-this-for button {
  margin-bottom: 30px;
}

/* FOOTER */

footer {
  padding: 15px;
  text-align: center;
  background-color: $darkBrown;
  color: $milkishOrange;
}

.footer-logo {
  width: 12%;
  margin: 10px;
}

footer h3 {
  text-transform: uppercase;
}

footer blockquote {
  color: $milkishOrange;
  margin: 10px 0px;
}

.social-media-icon {
  margin: 10px 20px 10px 0px;
}

.copywright {
  color: $milkishOrange;
  margin: 10px auto;
  text-align: center;
}

footer hr {
  width: 80%;
  margin: 0px auto;
}

/* DASHBOARD CSS */

/** PROFILE DASHBOARD **/
nav .dashboard-menu button {
  margin-top: 60px;
}

/* DASHBOARD */
.dashboard {
  padding: 0px 25px;
}

.welcome-greeting {
  font-weight: 300;
  color: $darkBrown;
  margin: 10px 0px;
}

.acc-balance {
  background-color: $darkGreen;
  background-image: url(../assets/dashboard-logo.svg);
  background-repeat: no-repeat;
  background-position: 70% 60%;
  background-size: 120px;
  width: 100%;
  height: 150px;
  color: white;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 3px $lightBrown;
}

.acc-balance p {
  margin: 0px 0px 0px 0px;
  padding-top: 10px;
  color: white;
  text-transform: capitalize;
}

.acc-balance h1 {
  font-weight: 400;
}

/* SEND AND WITHDRAWAL BUTTON */

.transaction-button {
  margin: 20px 0px;
  display: flex;
}

.d-btn {
  @extend %btn;
  width: 45%;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
  margin: 10px auto;
}

.wbutton {
  float: right;
}

/* REF LINK */

.ref-link {
  margin: 20px 0px;
  background-color: $darkGreen;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  padding: 7px;
}

.ref-link p {
  text-align: left;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  background-color: $green;
  color: white;
  margin: 0px 0px 0px 0px;
  border-radius: 5px;
}

.ref-link p img {
  display: block;
  width: 10%;
  float: right;
  padding: 5px;
  background-color: $darkGreen;
  border-radius: 2px;
}

/* RECENT TRANSACTION */

.recent-transaction {
  width: 100%;
  background-color: $darkGreen;
  padding: 15px;
  border-radius: 5px;
}

.recent-transaction h2 {
  color: white;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 300;
  margin: 10px 0px;
}

.recent-transaction .history {
  background-color: $green;
  border-radius: 5px;
}

.recent-transaction .history p {
  color: white;
  padding: 5px;
}

.recent-transaction .history p span {
  float: right;
  color: white;
  padding: 5px;
}

.recent-transaction .history hr {
  color: var(--milkishOrange);
  width: 100%;
  margin: 10px 0px;
}

.recent-transaction .history hr:last-child {
  display: none;
}

/* WITHDRAWAL PAGE STYLING */
.withdrawal-form {
  margin: 20px;
}

.withdrawal-form .withdrawal-icon {
  display: block;
  margin: 0px auto;
  width: 20%;
}

.withdrawal-form .withdrawal-paragraph {
  text-align: center;
  text-transform: uppercase;
  color: $brown;
  margin: 10px 0px;
  width: 100%;
}
/* USER FOOTER */

.f2 > p {
  text-align: center;
  color: $brown;
  margin: 100px auto 10px auto;
  font-weight: 600;
}

.link-disabled {
  opacity: 50%;
}

/********** VENDORS PAGE ************/

.vendors {
  h1 {
    font-size: 1.2rem;
    margin: 40px 0px 5px 0px;
  }

  p {
    margin-bottom: 2rem;
  }

  h1,
  h3 {
    color: $brown;
  }

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }

  .vendors-list {
    div {
      .contact-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      hr {
        margin: 1rem 0rem;
      }
    }
  }

  button {
    a {
      text-decoration: none;
      color: $milkishOrange;
    }
  }
}

/*********** TUTORIAL ******/
.tutorial-logo-text {
  font-size: 1.5;
  font-weight: 600;
  color: $brown;
  margin: 40px 0px 20px 0px;
}

.tutorials {
  h3 {
    color: $darkBrown;
    font-weight: 500;
  }

  img {
    display: block;
    margin: 0px auto;
  }
}

/*********** ABOUT *******/
.about-logo-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: $brown;
  margin: 40px 0px 20px 0px;
}


.about-container {
  hr {
    display: inline-block;
  }

  .about-text {
    margin: 20px 0px;

    h3 {
      font-size: 1rem;
      color: $brown;
      font-weight: 700;
      margin-bottom: 10px;
    }
  }
}



