<section class="navigation">
    <nav class="nav-bar">
      <img
        src="assets/Hamburger-menu.svg"
        alt="hamburger-icon"
        class="hamburger-menu"
      />
  
      <div class="dropdown-menu dashboard-menu">
        <img
          src="assets/close.svg"
          alt="close-icon"
          class="close-icon"
          id="close-nav-icon"
        />
        <a href="/admin" class="nav-links"
          ><i class="fa-solid fa-wallet"></i>Dashboard</a
        >
        <a href="/order" class="nav-links"
          ><i class="fa-solid fa-user"></i>Order</a
        >
        <a href="/coupon" class="nav-links"
          ><i class="fa-solid fa-money-bill-transfer"></i>
          Coupon</a
        >
  
        <button class="lg-btn btn-green green"><a href="/">Log Out</a></button>
      </div>
    </nav>
  </section>
  