<section class="navigation">
    <nav class="nav-bar">
        <img src="assets/logo.svg" alt="logo-icon" class="main-logo">
        <span class="logo-text">cashify</span>
        <img src="assets/Hamburger-menu.svg" alt="hamburger-icon" class="hamburger-menu">

        <div class="dropdown-menu">
            <img src="assets/close.svg" alt="close-icon" class="close-icon" id="close-nav-icon">
            <a href="/tutorial" class="nav-links"><img class="nav-links-icon" src="assets/tutorial.svg" alt="tutorial-icon"> Tutorial</a>
            <a href="/about" class="nav-links"><img class="nav-links-icon" src="assets/about.svg" alt="about-icon"> About</a>
            <a href="/contact" class="nav-links"><img class="nav-links-icon" src="assets/contact.svg" alt="contact-icon"> Contact us</a>

            <button class="login"><a href="/signin">sign in</a></button>
            <button class="signup"><a href="/signup">sign up</a></button>
        </div>

    </nav>
</section>
