<section class="navigation navbar">
  <nav class="nav-bar">
    <img src="assets/logo.svg" alt="logo-icon" class="main-logo" />
    <span class="logo-text">cashify</span>
    <img
      src="assets/Hamburger-menu.svg"
      alt="hamburger-icon"
      class="hamburger-menu"
    />

    <div class="dropdown-menu">
      <img
        src="assets/close.svg"
        alt="close-icon"
        class="close-icon"
        id="close-nav-icon"
      />
      <a href="/tutorial" class="nav-links"
        ><i class="fa-solid fa-pen-to-square"></i> Tutorial</a
      >
      
      <a href="/vendors" class="nav-links"
        ><i class="fa-solid fa-circle-check"></i> Vendors</a
      >

      <a href="/about" class="nav-links"
        ><i class="fa-solid fa-circle-info"></i> About</a
      >
      <a href="/contact" class="nav-links"
        ><i class="fa-solid fa-phone"></i> Contact us</a
      >

      <button class="lg-btn btn-milky"><a href="/signin">sign in</a></button>
      <button class="lg-btn btn-green green"><a href="/signup">sign up</a></button>
    </div>
  </nav>
</section>
