<section class="navigation">
  <nav class="nav-bar">
    <img
      src="assets/Hamburger-menu.svg"
      alt="hamburger-icon"
      class="hamburger-menu"
    />

    <div class="dropdown-menu dashboard-menu">
      <img
        src="assets/close.svg"
        alt="close-icon"
        class="close-icon"
        id="close-nav-icon"
      />
      <a href="/dashboard" class="nav-links"
        ><i class="fa-solid fa-wallet"></i>Dashboard</a
      >
      <a href="/profile" class="nav-links"
        ><i class="fa-solid fa-user"></i>Profile</a
      >
      <a href="/withdraw" class="nav-links"
        ><i class="fa-solid fa-money-bill-transfer"></i>
        Withdraw</a
      >
      <a href="#" class="nav-links link-disabled" 
        ><i class="fa-solid fa-meteor"></i>
        What's New</a
      >
      <a href="#" class="nav-links link-disabled" 
        ><i class="fa-solid fa-arrow-up-right-dots"></i>
        Grow Now</a
      >

      <button class="lg-btn btn-green green"><a href="/signup">Log Out</a></button>
    </div>
  </nav>
</section>
