<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/about.css">
<title>About us</title>

<section>
  <img src="assets/close.svg" alt="close-button" class="close-button">
    <img src="assets/about.svg" alt="" class="about-logo">
    <p class="about-logo-text">About us</p>

    <div class="about-container">
      <div class="about-text">
        <h3>About cashify <hr></h3>
        <p>This platform was launched due
        to the enconomic crisis, strike,
        unemployment going on in so many
        african to mention but a few which
        includes Nigeria, Ghana, Cameroon,
        Togo etc. </p>
      </div>
    </div>

    <div class="about-text">
      <h3>cashify activity <hr></h3>
      <p>Though its a website that launched
      recently we already have 1000+ active
      users who already trust our website in just
      few weeks of launch</p>
    </div>

  <div class="about-text">
    <h3>Our goal <hr></h3>
    <p>Our main goal is to generate passive
    income and revenue for our users respectively
    and help them build their goals and dream for a
    better tomorrow</p>
  </div>

</section>

<%- include('partials/copyright.ejs') %>
<script src="js/redirect.js" charset="utf-8"></script>
<%- include('partials/foot.ejs') %>
