<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<%- include('partials/a-navbar') %>
<title>COUPON</title>

<section class="spacing">
    <h3 class="about-logo-text">Coupon<i class="fa-solid fa-circle-info"></i></h3>


</section>

<%- include('partials/f2.ejs') %>
<script src="js/index.js"></script>
<%- include('partials/foot.ejs') %>
