
<%- include('partials/head.ejs') %>

        <title>CASHIFY</title>

        <link rel="stylesheet" href="css/main.css">

        <%- include('partials/navbar.ejs') %>

    <section class="hero">
        <img src="assets/CASHIPHY A-1.png" alt="" class="hero-image">
        <h2 class="hero-text">stress less, work smart, earn more</h2>
        <p class="hero-paragraph">
            cashify is a marketing website that
            helps people make money through
            marketing. we offer a variety of
            tools and resources to help you
            grow your business and reach your
            target market. our goal is to help
             you succeed and make money online!</p>
        <button class="getstarted">get started</button>
    </section>

    <section class="features">
        <h2 class="features-heading">
            features
        </h2>
        <div class="features-card">
            <img src="assets/service-provider-icon.svg" alt="get-skilled" class="card-image">
            <h3 class="features-heading">get skilled</h3>
            <p class="features-text">" Get skilled in the top fintech and marketing skills through  our website and also get a job as well "</p>
        </div>

        <div class="features-card">
            <img src="assets/Group 19.svg" class="card-image fast-withdrawal" alt="fast-withdrawal" >
            <h3 class="features-heading">fast withdrawal</h3>
            <p class="features-text">" with the different integrated withdrawal method , you can be able to your funds with the speed of light into your accounts "</p>
        </div>

        <div class="features-card">
            <img src="assets/customer-service-icon.svg" alt="customer-care" class="card-image">
            <h3 class="features-heading">customer-care</h3>
            <p class="features-text">" Get quick response to any of your issues with our quick customer care response service "</p>
        </div>
    </section>

    <section class="who-is-this-for">
        <div>
            <h2 class="witf-heading">who is this for</h2>
            <p class="witf-text">cashify is for everyone. This platform is created to impact knowledge , give financial freedom and  financial education to all our users.</p>
            <button class="getstarted">get started</button>
        </div>
    </section>

    <section class="footer">
        <footer>
            <img src="assets/logo.svg" alt="" class="footer-logo">
            <blockquote class="footer-quote">" Getting rich quickly is a myth. Focus on getting rich slowly using proven methods is a winner anyday "</blockquote>
            <div class="footer-social-icon">
                <img src="assets/twitter.svg" alt="" class="social-media-icon">
                <img src="assets/instagram.svg" alt="" class="social-media-icon">
            </div>
            <h3>lagos nigeria</h3>
            <hr>
            <p class="copywright">copyright ©2023</p>
        </footer>
    </section>

    <script src="js/index.js"></script>

<%- include('partials/foot.ejs') %>
