<%- include('partials/head.ejs') %>

<link rel="stylesheet" href="css/main.css">
<title>Profile</title>

<%- include('partials/u-navbar') %>

<section class="signup-form spacing ">
    <h2 class="profile-header">Profile Details</h2>
    <p class="">Below are your profile details shared with<span class="b-bold">cashify</span> this innformation
    is only available to you</p>
    <form action="" class="signup">
        <label for="">username</label>
        <input type="text">
        <label for="">First name</label>
        <input type="text">
        <label for="">Last name</label>
        <input type="text">
        <label for="">email</label>
        <input type="text">

        
    </form>
</section>

<%- include('partials/f2.ejs') %>
<script src="js/index.js"></script>
<script src="js/disabled.js"></script>
<%- include('partials/foot.ejs') %>