    <%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="css/main.css">
    <title>Get into your cashify account</title>

    <section class="signup-form spacing ">
        <img src="assets/logo.svg" class="logo-2" alt="">
        <img src="assets/close.svg" class="close-button" alt="">
        <p class="fp-paragraph-header">Let's get started with <span class="b-bold">cashify</span></p>
        <form action="" class="signup">
            <label for="">username</label>
            <input type="text">
            <label for="">password</label>
            <input type="text">

            <button class="btn lg-btn btn-milky">sign in</button>
        </form>
    </section>

    <%- include('partials/f2.ejs') %>
    <script src="js/redirect.js"></script>
    <%- include('partials/foot.ejs') %>