<%- include('partials/head.ejs') %>

    <link rel="stylesheet" href="css/form.css">
    <title>Get started with cashify</title>

    <section class="signup-form">
        <img src="assets/logo.svg" class="logo-icon" alt="">
        <img src="assets/close.svg" class="close-button" alt="">
        <p class="signup-paragraph">Let's get started with <span>cashify</span></p>
        <form action="" class="signup">
            <label for="">first name</label>
            <input type="text">
            <label for="">last name</label>
            <input type="text">
            <label for="">email</label>
            <input type="text">
            <label for="">password</label>
            <input type="text">
            <label for="">confirm password</label>
            <input type="text">
            <label for="">coupon</label>
            <input type="text">
            <label for="">referrer</label>
            <input type="text">

            <button>sign up</button>
        </form>
    </section>

    <%- include('partials/copyright.ejs') %>
    <script src="js/redirect.js"></script>
<%- include('partials/foot.ejs') %>
