<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="css/tutorial.css">

<div class="container">
  <section class="heading">
    <img src="assets/close.svg" alt="close-button" class="close-button">
      <img src="assets/compose_edit_icon_251474.png" alt="" class="tutorial-logo">
      <p class="tutorial-logo-text">Tutorial</p>
  </section>

  <section class="tutorials">
    <div class="tuts">
      <h3>STEP 1</h3>
      <h3>PURCHASE YOUR COUPON</h3>
      <p>purchase your coupon verified vendor
         listed on the vendors page</p>
      <img src="assets/get-coupon.png" alt="get-coupon">
    </div>

    <div class="tuts">
      <h3>STEP 2</h3>
      <h3>SIGN UP</h3>
      <p>Head over the signup page and
         input the required details,
         this can also be done by an
         active user</p>
      <img src="assets/signup-illustration.png" alt="Dashboard-illustration">
    </div>

    <div class="tuts">
      <h3>STEP 3</h3>
      <h3>WELCOME TO CASHIFY</h3>
      <p>Hurray!! we so happy to have you
         here, now you have completed the
          tutorial go ahead and get
         started by the click of a button.</p>
      <img src="assets/Dashboard-illustration.png" alt="">
    </div>
  </section>
</div>

<%- include('partials/copyright.ejs') %>
<script src="js/redirect.js" charset="utf-8"></script>
<%- include('partials/foot.ejs') %>
