<%- include('partials/head.ejs') %>
<link rel="stylesheet" href="css/main.css" />
<title>Vendors</title>

<section class="vendors spacing">
  <img src="assets/close.svg" class="close-button" alt="" />
  <h1 class="all-caps">Vendors <i class="fa-solid fa-circle-check"></i></h1>
  <p>select a vendor from the list of vendors below</p>

  <div class="vendors-list">
    <div>
      <div class="contact-box">
        <h3>Tribe Tv</h3>
        <button class="sm-btn btn-green"><a href="#">contact</a></button>
      </div>
      <hr />
    </div>

    <div>
        <div class="contact-box">
          <h3>Tribe Tv</h3>
          <button class="sm-btn btn-green"><a href="#">contact</a></button>
        </div>
        <hr />
      </div>

      <div>
        <div class="contact-box">
          <h3>Tribe Tv</h3>
          <button class="sm-btn btn-green"><a href="#">contact</a></button>
        </div>
        <hr />
      </div>

      <div>
        <div class="contact-box">
          <h3>Tribe Tv</h3>
          <button class="sm-btn btn-green"><a href="#">contact</a></button>
        </div>
        <hr />
      </div>

  </div>
</section>

<%- include('partials/f2.ejs') %>
<script src="js/redirect.js"></script>
<%- include('partials/foot.ejs') %>
