:root {
    /* COLORS */
    --darkGreen: #2E4531;
    --green: #3B8E7E;
    --darkBrown: #231F20;
    --lightBrown: #5E4F49;
    --brown: #463C3C;
    --milkishOrange: #F4ECDD;

    /* FONTS */
    --poppins: 'Poppins', sans-serif;
}

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: var(--poppins);
  padding: 25px;
}

h3,.about-logo-text {
  color: var(--brown);
}

hr {
  display: inline-block;
  width: 50%;
  margin-bottom: 5px;
  border: 1.5px solid var(--lightBrown);
}

.close-button {
    position: absolute;
    right: 15px;
    top: 15px;
}

.heading {
  align-items: center;
  justify-content: center;
}

.about-logo {
  float: left;
  margin-left: 32%;
  margin-right: 10px;
  margin-top: 5px;
}

.about-logo-text {
  /* float: left; */
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}



h3 {
  margin: 10px 0px;
}

p {
  color: var(--lightBrown);
  line-height: 2;
  font-size: 18px;
}

/*********** FOOTER ********/
footer > p {
  text-align: center;
  color: var(--brown);
  margin: 100px auto 10px auto;
  font-weight: 600;
}
