:root {
    /* COLORS */
    --darkGreen: #2E4531;
    --green: #3B8E7E;
    --darkBrown: #231F20;
    --lightBrown: #5E4F49;
    --brown: #463C3C;
    --milkishOrange: #F4ECDD;

    /* FONTS */
    --poppins: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: var(--poppins);
    padding: 25px
}

.close-button {
    position: absolute;
    right: 15px;
    top: 15px;
}
/********************* FORM STYLING ***********************/

.logo-icon {
    display: block;
    width: 10%;
    margin: 10px auto;
}

.close-icon {
    position: absolute;
    right: 15px;
    top: 15px;
}

section label {
    display: inline-block;
    margin: 5px 0px;
    text-transform: uppercase;
    color: var(--brown);
}

section input {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 10px;
    border: 1px solid var(--lightBrown);
    margin-bottom: 15px;
    font-size: 18px;
    padding:0px 20px;
    color: var(--lightBrown);
}

section input:focus {
    outline:  none;
}

section p {
    font-size: 18px;
    color: var(--lightBrown);
    text-align: center;
    margin: 20px 0px;
}

section p > span {
    color: var(--brown);
    font-weight: bold;
}


section form > button {
    display: block;
    border: none;
    height:60px;
    width: 160px;
    color: var(--milkishOrange);
    background-color: var(--darkGreen);
    font-family: var(--poppins);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 4px 3px var(--lightBrown);
    margin: 40px auto;
    border-radius: 10px;
}

/********************* SIGN IN FORM *******************/
 .signin {
    background-color: var(--milkishOrange);
    color: var(--brown);
 }

 /********************* CCONTACT US FORM ***************/
 .mail-icon {
    display: block;
    margin: 30px auto 10px auto;
 }

 .mail-header {
    text-transform: uppercase;
 }

.mail-text {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    font-size: 16px;
    font-family: var(--poppins);
    color: var(--brown);
}

.mail-text:focus {
    outline: none;
}

/*********** FOOTER ********/
footer > p {
  text-align: center;
  color: var(--brown);
  margin: 100px auto 10px auto;
  font-weight: 600;
}
